# emacs + vi backup files
*~
.*.sw*

# various IDE junk
*.ipr
*.iml
*.iws
.project
.classpath
.settings
.nrepl-port

target
classes
it-repo
tmp
.cpcache
.externalToolBuilders
.eastwood
# for kondo and lsp caches
.cache
