{:paths ["script" "build"]
 :deps {lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "eace48e2e0fcc65a3986d696fb0b910fa5790a1c"}
        io.github.borkdude/unused-deps {:git/sha "c6673b5549d02fa131d21b61695e283b18124b59"}
        org.clj-commons/pretty {:mvn/version "3.6.8"}
        io.github.babashka/neil {:git/tag "v0.3.69" :git/sha "fa79321"}}
 :tasks {;; setup
         :requires ([babashka.fs :as fs]
                    [clojure.string :as string]
                    [lread.status-line :as status])
         :enter (let [{:keys [name]} (current-task)] (status/line :head "TASK %s %s" name (string/join " " *command-line-args*)))
         :leave (let [{:keys [name]} (current-task)] (status/line :detail "\nTASK %s done." name))

         ;; tasks
         clean
         {:doc "delete build work"
          :task (when (fs/exists? "target")
                  (fs/delete-tree "target"))}
         download-deps
         {:doc "bring down Clojure deps"
          :task download-deps/-main}
         test
         {:doc "Runs tests under Clojure [--clj-version] [--suite] [--help] (recognizes cognitect test-runner args)"
          :requires ([test-clj])
          :task (apply test-clj/-main *command-line-args*)}
         lint-kondo
         {:doc "[--rebuild] Lint source code with clj-kondo"
          :task lint/-main}
         lint-eastwood
         {:doc "Lint source code with Eastwood"
          :task (clojure "-M:test:isolated:eastwood")}
         lint
         {:doc "Run all lints"
          :depends [lint-kondo lint-eastwood]}
         outdated
         {:doc "Report on outdated dependencies"
          :task (do
                  (clojure {:continue true} "-M:outdated")
                  (status/line :warn "Do be sure there is a good reason to ugprade org.apache.maven.* deps") )}
         unused-deps
         {:doc "find unused dependencies"
          :requires ([clj-commons.format.table :as table])
          :task (let [;; manually update explanations as needed
                      explanations {'commons-logging/commons-logging  "ikcy but: legacy dep still included to avoid breaking existing apps that depend on it transitively"
                                    'org.apache.commons/commons-lang3 "brought in by org.apache.maven.resolver/maven-resolver-impl, override to address CVE-2025-48924"
                                    'org.codehaus.plexus/plexus-utils "brought in by various maven deps, override to address CVE-2025-67030"
                                    'org.codehaus.plexus/plexus-xml   "optional dep of plexus-utils must be explicitly included"
                                    'org.apache.maven.wagon/wagon-ssh "this wagon is not explicitly referenced by code, but removing it would be a breaking change for existing apps that depend on it transitively"}
                      unused-deps (->> (exec 'borkdude.unused-deps/unused-deps
                                        {:source-paths ["src/main/clojure"]})
                                       :unused-deps
                                       sort
                                       (mapv (fn [d] (-> {:dep (str d)}
                                                         (assoc :explanation (get explanations (first d)))))))]
                 (status/line :detail "Dependencies that do not seem to be referenced by code")
                 (status/line :detail "NOTE: Update explanation in bb.edn as you see fit")
                 (status/line :detail "")
                 (table/print-table [{:key :dep         :title-align :left :title "Dependency"  :align :left}
                                     {:key :explanation :title-align :left :title "Explanation" :align :left}]
                                    unused-deps)
                 (status/line :detail "Total unused deps with no explanation: %d" (count (filter (fn [r] (-> r :explanation nil?)) unused-deps))))}
         nvd-scan
         {:doc "Check for security vulnerabilities in dependencies"
          :task (shell {:dir "./nvd-scan"} "bb nvd-scan")}
         pubcheck
         {:doc "Run only publish checks (without publishing)"
          :task publish/pubcheck}
         publish
         {:doc "Publish a release (for maintainers)"
          :task publish/-main}
         install
         {:doc "Install to local maven repo (usually for local adhoc testing)"
          :task (clojure "-T:build install")}
         neil ;; let's not rely on a random version of neil
         {:doc "Pinned version of babashka/neil (used in scripting)"
          :task babashka.neil/-main}

         ;; hidden tasks, no need for folks to be trying these ci invoked tasks
         -ci-clojars-deploy
         {:doc "triggered on ci by release tag"
          :task ci-publish/clojars-deploy}
         -ci-github-create-release
         {:doc "triggered on ci by release tag"
          :task ci-publish/github-create-release}
         -ci-cljdoc-request-build
         {:doc "ask cljdoc to build docs for new release"
          :task ci-publish/cljdoc-request-build}}}
