{:paths ["src/main/clojure"]
 :deps {org.apache.maven/maven-resolver-provider {:mvn/version "3.8.7"}
        org.apache.maven.resolver/maven-resolver-api {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-spi {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-util {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-impl {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-file {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-http {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-wagon {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "1.9.4"}
        org.tcrawley/dynapath {:mvn/version "1.1.0"}
        org.apache.maven.wagon/wagon-provider-api {:mvn/version "3.5.3"
                                                   :exclusions [org.codehaus.plexus/plexus-utils]}
        org.apache.maven.wagon/wagon-http {:mvn/version "3.5.3"}
        org.apache.maven.wagon/wagon-ssh {:mvn/version "3.5.3"}
        org.apache.httpcomponents/httpclient {:mvn/version "4.5.14"}
        org.apache.httpcomponents/httpcore {:mvn/version "4.4.16"}}

 :aliases {:1.4 {:override-deps {org.clojure/clojure {:mvn/version "1.4.0"}}}
           :1.5 {:override-deps {org.clojure/clojure {:mvn/version "1.5.1"}}}
           :1.6 {:override-deps {org.clojure/clojure {:mvn/version "1.6.0"}}}
           :1.7 {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
           :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

           :test {:extra-paths ["src/test/clojure"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.slf4j/slf4j-simple {:mvn/version "2.0.6"}}
                  :main-opts ["-m" "cognitect.test-runner" "-d" "src/test/clojure"]}
           ;; compatible with Clojure < 1.8
           :old-runner {:override-deps {io.github.cognitect-labs/test-runner
                                        ^:antq/exclude
                                        {:git/sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}
           :jar {:extra-deps  {seancorfield/depstar #_:clj-kondo/ignore {:mvn/version "RELEASE"}}
                 :main-opts ["-m" "hf.depstar.jar" "pomegranate.jar"]}
           :deploy {:extra-deps {slipset/deps-deploy {:git/url "https://github.com/slipset/deps-deploy.git"
                                                      :sha "fd8ff2de9c4bda82a1c69c387d56217473b394be"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "pomegranate.jar" "true"]}
           :install {:extra-deps {slipset/deps-deploy {:git/url "https://github.com/slipset/deps-deploy.git"
                                                       :sha "fd8ff2de9c4bda82a1c69c387d56217473b394be"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install"
                                 "pomegranate.jar" "true"]}
           ;; for consistent linting we use a specific version of clj-kondo through the jvm
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.01.16"}}
                       :override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}
                       :main-opts ["-m" "clj-kondo.main"]}
           :eastwood {:main-opts  ["-m" "eastwood.lint" {:exclude-namespaces [cognitect.test-runner]
                                                         :ignored-faults {:local-shadows-var {cemerick.pomegranate.aether true}}}]
                      :extra-deps {jonase/eastwood {:mvn/version "1.3.0"}}}}}
