{:paths ["src/main/clojure"]
 :deps {;; our current minimum supported Clojure version
        org.clojure/clojure {:mvn/version "1.4.0"}
        ;; TIP: be sure you really want to bump org.apache.maven deps
        org.apache.maven/maven-resolver-provider {:mvn/version "3.8.7"}
        org.apache.maven.resolver/maven-resolver-api {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-spi {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-util {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-impl {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-file {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-http {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-transport-wagon {:mvn/version "1.9.4"}
        org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "1.9.4"}
        org.apache.maven.wagon/wagon-provider-api {:mvn/version "3.5.3"
                                                   :exclusions [org.codehaus.plexus/plexus-utils]}
        org.apache.maven.wagon/wagon-http {:mvn/version "3.5.3"}
        org.apache.maven.wagon/wagon-ssh {:mvn/version "3.5.3"}

        ;; override dep brought in by org.apache.maven.resolver/maven-resolver-impl
        ;; to address CVE-2025-48924
        org.apache.commons/commons-lang3 {:mvn/version "3.18.0"}

        org.tcrawley/dynapath {:mvn/version "1.1.0"}
        org.apache.httpcomponents/httpclient {:mvn/version "4.5.14"}
        org.apache.httpcomponents/httpcore {:mvn/version "4.4.16"}}

 :aliases {;; we use babashka/neil for project attributes
           ;; publish workflow references these values (and automatically bumps patch component of version)
           :neil {:project {:version "1.2.25"
                            ;; artifact deploy name (and also, by chance, GitHub coordinates)
                            :name clj-commons/pomegranate}}

           ;; support testing against specific versions of Clojure
           :1.4 {:override-deps {org.clojure/clojure {:mvn/version "1.4.0"}}}
           :1.5 {:override-deps {org.clojure/clojure {:mvn/version "1.5.1"}}}
           :1.6 {:override-deps {org.clojure/clojure {:mvn/version "1.6.0"}}}
           :1.7 {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
           :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
           :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.4"}}}

           :test {:extra-paths ["src/test/clojure"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.slf4j/slf4j-simple {:mvn/version "2.0.17"}}
                  :main-opts ["-m" "cognitect.test-runner" "-d" "src/test/clojure"]}
           ;; some tests affect classloaders and classpaths, we run them separately to not pollute jvm state
           ;; ex usage: clojure -M:1.10:test:isolated
           :isolated {:extra-paths ["src/test-isolated/clojure"]
                      ;; override :test :main-opts
                      :main-opts ["-m" "cognitect.test-runner" "-d" "src/test-isolated/clojure"]}
           ;; user older runner for compatibility with Clojure < 1.8,
           ;; example usage: clojure -M:1.4:test:old-runner
           :old-runner {:override-deps {io.github.cognitect-labs/test-runner
                                        ^:antq/exclude
                                        {:git/sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}

           :build {:extra-paths ["build"]
                   :deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}

           ;; for consistent linting we use a specific version of clj-kondo through the jvm
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.09.22"}}
                       :override-deps {org.clojure/clojure {:mvn/version "1.12.2"}}
                       :main-opts ["-m" "clj-kondo.main"]}
           :eastwood {:main-opts  ["-m" "eastwood.lint" {:exclude-namespaces [cognitect.test-runner]
                                                         :ignored-faults {:local-shadows-var {cemerick.pomegranate.aether true}}}]
                      :override-deps {org.clojure/clojure {:mvn/version "1.12.2"}}
                      :extra-deps {jonase/eastwood {:mvn/version "1.4.3"}}}

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                                   org.clojure/clojure {:mvn/version "1.12.2"}
                                   org.slf4j/slf4j-simple {:mvn/version "2.0.17"} ;; to rid ourselves of logger warnings
                                   }
                      :main-opts ["-m" "antq.core"]}}}
