{:paths ["src/main/clojure"]
 :deps {org.apache.maven/maven-resolver-provider {:mvn/version "3.6.0"}

        org.apache.maven.resolver/maven-resolver-transport-file {:mvn/version "1.3.3"}
        org.apache.maven.resolver/maven-resolver-transport-http {:mvn/version "1.3.3"}
        org.apache.maven.resolver/maven-resolver-transport-wagon {:mvn/version "1.3.3"}
        org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "1.3.3"}
        org.tcrawley/dynapath {:mvn/version "1.0.0"}
        org.apache.maven.wagon/wagon-provider-api {:mvn/version "3.3.2"}
        org.apache.maven.wagon/wagon-http {:mvn/version "3.3.2"}
        org.apache.maven.wagon/wagon-ssh {:mvn/version "3.3.2"}
        org.apache.httpcomponents/httpclient {:mvn/version "4.5.7"}}

 :aliases {:test {:extra-paths ["src/test/clojure"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                               org.slf4j/slf4j-simple {:mvn/version "1.7.26"}}
                  :main-opts ["-m" "cognitect.test-runner" "-d" "src/test/clojure"]}}}
